{% extends "PortApp/base.html" %}

{% block title %} Index...  {% endblock title %}

{% block body %}
    <div class="container">
        <div class="jumbotron HomeJumbo">
                <p class="lead font-weight-normal">Hello, My Name is </p>
                <h1 class="display-4 font-weight-normal">Om Gupta</h1>
                <p class="lead font-weight-normal">Web Developer.</p>
                <a class="btn btn-outline-light btn-lg mt-3 font-weight-bold" href="#" role="button">DOWNLOAD CV</a>
        </div>
    </div>
{% endblock body %}
