{% extends "PortApp/base.html" %}

{% block title %} Services...  {% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-0 font-weight-bold">OUR SERVICES </h1><hr class="HrServices align-content-center">
        <div class="container row mt-5">
            <div class="container col-md-4 col-sm-12">
                <div class="card mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center"> Unique Design </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mt-5 mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-3"> Responsiveness </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="container col-md-4 col-sm-12">
                <div class="card mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-3"> Different Layout </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mt-5 mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-3"> Testing for Perfection </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="container col-md-4 col-sm-12">
                <div class="card mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-3"> Make it Simple </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mt-5 mb-5 bg-secondary text-light" style="height: 50%;">
                    <div class="card-body">
                      <h3 class="card-title text-center mb-3"> Advanced Options </h3>
                      <p class="card-text text-center mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}